<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% include includes/headincludes.html %}
    <title>All the Ducks | Thanks for contacting us.</title>
  </head>
  <body>
{% include includes/header.html%}
          <div class="row">
              <div class="large-12 columns">
                  <h2>Woah, something just went wrong!</h2>
                  <div class="row">
                      <div class="small-6 columns">
                          <img src="img/sorry-pony.png">
                      </div>
                      <div class="small-6 columns">
                          <p>We're not sure what just happened, but please email us directly at:
                              <a href="mailto:wiley@alltheducks.com,shane@alltheducks.com?subject=Question about all the ducks">wiley@alltheducks.com and shane@alltheducks.com</a>, and ask us directly. </p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="small-12 columns">
                          <label>Here is what you asked (so you can copy and paste it)
                              <textarea>!!!CONTENT!!!</textarea>
                          </label>
                      </div>
                  </div>
              </div>
          </div>




{% include includes/footer.html %}
  </body>
</html>
