<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% include includes/headincludes.html %}
    <title>All the Ducks | Thanks for contacting us.</title>
  </head>
  <body>
{% include includes/header.html%}


          <div class="row">
              <div class="large-12 columns">
                  <h2>Thanks for contacting us!</h2>

                  <p>We'll reply to you as soon as humanly possible. </p>
              </div>
          </div>




          <a class="exit-off-canvas"></a>

      </div>
  </div>

    
{% include includes/footer.html %}
  </body>
</html>
