<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% include includes/headincludes.html %}
    <title>All the Ducks | Contact Us</title>
  </head>
  <body>
{% include includes/header.html%}




        <div class="row">
            <div class="large-12 columns">
                <h2>Contact Us</h2>



                <div class="row" id="successmessage" style="display:none;">
                    <div class="columns">
                        <div data-alert class="alert-box info">
                        Thanks for contacting us, your message has been successfully sent.  We'll get back to you soon.
                        </div>
                    </div>
                </div>

                <div id="failuremessage" class="row" style="display:none;">
                    <div class="row">
                        <div class="columns">
                            <div data-alert class="alert-box warning">
                              It appears something went wrong while trying to send your message.
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns"><a id="failuremailto" href="mailto:" class="button radius">Send with your Email Client</a></div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <h3>Your Message</h3>
                            <div class="panel"><pre id="messagecopypaste"></pre></div>
                        </div>
                    </div>
                </div>

                <div class="row" id="messageprogress" style="display:none;">
                    <div class="columns"><h3>Sending Message</h3> <img src="img/ajax-loader.gif" />
                    </div>
                </div>

                <div class="row" id="contactformpanel">
                    <div class="large-12 columns">
                        <form action="contact.php" method="POST" id="contactform">
                            <div class="row">
                                <div class="medium-8 large-6 columns">
                                    <label>Name
                                        <input name="name" id="personname" type="text" placeholder="Mary Bloggs" />
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="medium-8 large-6 columns">
                                    <label>Email
                                        <input name="email" id="email" type="text" placeholder="mbloggs@university.edu.au" />
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="medium-8 large-6 columns">
                                    <label>Phone/Mobile/Cell Number
                                        <input name="phone" id="phone" type="text" placeholder="0404 789 456" />
                                    </label>
                                </div>
                            </div>


                            <div class="row">
                                <div class="large-12 columns">
                                    <label>Your Question
                                        <textarea name="question" id="question" placeholder="What can you do for me?" style="height: 13em;"></textarea>
                                    </label>
                                </div>
                            </div>

                            <a href="#" class="button radius" id="submitFormButton">Submit</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>




    
{% include includes/footer.html %}
<script type="text/javascript">
    var atd = {};
    atd.handleContactFormSubmit = function(e) {
        var data = {};
        var contactFormPanel = document.getElementById('contactformpanel');
        var successMessage = document.getElementById('successmessage');
        var failureMessage = document.getElementById('failuremessage');
        var messageProgress = document.getElementById('messageprogress');
        data.body = $('#question')[0].value;
        data.email = $('#email')[0].value;
        data.phone = $('#phone')[0].value;
        data.name = $('#personname')[0].value;

        contactformpanel.style.display = 'none';    
        messageProgress.style.display = 'block';
        $.post("https://services.alltheducks.com/excusemeihaveaquestion", data, 
            function(data) {
                if (data.status == 'SUCCESS') {
                    messageProgress.style.display = 'none';
                    successMessage.style.display = 'block';
                } else {
                    var failureMailto = document.getElementById('failuremailto');
                    failuremailto.href = 'mailto:wiley@alltheducks.com,shane@alltheducks.com?subject=Contact Form Question&body='+encodeURIComponent($('#question')[0].value);
                    $('#messagecopypaste').text($('#question')[0].value)

                    messageProgress.style.display = 'none';
                    failureMessage.style.display = 'block';
                }
            }).fail(function () {
                var failureMailto = document.getElementById('failuremailto');
                failuremailto.href = 'mailto:wiley@alltheducks.com,shane@alltheducks.com?subject=Contact Form Question&body='+encodeURIComponent($('#question')[0].value);
                $('#messagecopypaste').text($('#question')[0].value);

                messageProgress.style.display = 'none';
                failureMessage.style.display = 'block';
                
            });

        return false;
    }

    $('#submitFormButton').click(atd.handleContactFormSubmit);
</script>
  </body>
</html>
