<!doctype html>
<html class="no-js" lang="en">
<head>
{% include includes/headincludes.html %}
    <title>All the Ducks | Welcome</title>
</head>
<body>
    {% include includes/header.html %}


        <section class="hp-banner">
            <div class="row">
                <div class="large-12 columns">
                    <h1>All the Ducks</h1>

                    <h3>Ed-Tech Products and Services</h3>
                </div>
            </div>
            <div class="floatingduck">
                <img src="img/alltheduck-circle.svg">
            </div>
        </section>

        <div class="row">
            <div class="large-12 columns">
                <div class="panel">
                    <h3>Educational Technology Development Services</h3>

                    <div class="row">
                        <div class="large-4 medium-4 columns">
                            <p><a href="services.html">Custom Blackboard
                                Development</a><br/>Need a custom Building Block
                                written for your institution? <a
                                        href="contact-us.html">Talk to us.</a>
                            </p>
                        </div>
                        <div class="large-4 medium-4 columns">
                            <p><a href="services.html">OSS Maintenance and
                                Support</a><br/>Development,
                                Maintenance and Extension for Open Source LMS
                                projects. <a href="services.html">What we can
                                    offer.</a></p>
                        </div>
                        <div class="large-4 medium-4 columns">
                            <p><a href="services.html">LMS Extension Development
                                Training</a><br/>Need training in how to write
                                Blackboard Building Blocks? <a
                                        href="contact-us.html">Talk
                                    to us.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <div class="panel callout">
                    <blockquote>
                    Southern Cross University has benefited on several occasions by our association with Wiley Fuller and
                    Shane Argo, [the founders of All the Ducks], through our mutual association with the Blackboard User
                    community.  Separately they are knowledgeable, intuitive, highly skilled and very helpful.  When teamed
                    together, they are formidable and relentless in finding solutions to meet your needs.  Present a problem and
                    they are driven to find a solution and once found, they are incredibly generous, embracing the culture of
                    open source wholeheartedly. I have no hesitation to recommend them with the highest accolades.
                    </blockquote>
                    <cite>
                        Schelly Gardner | eLearning Environment Systems Manager | Technology Services  | Southern Cross University
                    </cite>
                </div>
            </div>
        </div>

{% include includes/footer.html %}

</body>
</html>