<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% include includes/headincludes.html %}
    <title>All the Ducks | Services</title>
  </head>
  <body>
{% include includes/header.html%}




          <div class="row">
              <div class="large-12 columns">
                  <h2>Professional Services</h2>

                  <p>All the Ducks offers a range of professional services to help you
                      meet your LMS usage and development goals. </p>
                  <div class="panel">
                      <h3>Blackboard Building Block Development</h3>
                      <p>If you have particular integration requirements, or need custom
                          functionality implemented as a Building Block, we can provide a cost effective
                          service to meet your needs.</p></div>
                  <div class="panel">
                      <h3>Support and Maintenance of open source Building Blocks and
                          extensions.</h3>
                      <p>Need an open source Building Block, but don't have the skills
                          in-house to support it?.  We can provide either on-going support for these tools,
                          or time-boxed support around your upgrade window.</p>
                  </div>
                  <div class="panel">
                      <h3>Technical Training and mentoring for Blackboard development.</h3>
                      <p>Want to start writing Building Blocks, but don't know where to start?
                          We can provide one-off training for your developers, or an ongoing
                          support service for your technical staff.</p>
                  </div>
                  <p><a href="contact-us.html" class="button radius">contact us</a></li>
              </div>
          </div>



          <a class="exit-off-canvas"></a>

      </div>
  </div>


    
{% include includes/footer.html %}
  </body>
</html>
